@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

.tooltip {
  position: absolute;
  text-align: center;
  width: 150px;
  height: 38px;
  padding: 2px;
  border-radius: 5px;
  font-size: 14px;
  background: rgb(33, 45, 61);
  pointer-events: auto;
}

.tooltip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 14px;
  width: 100%;
  line-height: 0;
  color: rgb(33, 45, 61);
  content: "\25BC";
  position: absolute;
  text-align: center;
  top: 100%;
  left: 0;
}

.bars.up-day path {
  stroke: #03a678;
}

.bars.down-day path {
  stroke: #c0392b;
}

.bars.up-day rect {
  fill: #03a678;
}

.bars.down-day rect {
  fill: #c0392b;
}

@media screen and (max-width: 700px) {
  .info-container {
    -webkit-flex-flow: column-reverse nowrap;
    justify-content: flex-start;
    align-items: center;
  }
}

a {
  color: white;
  font-size: 20px;
}

.about-icon {
  font-size: 40px;
}

body {
  background: #414040;
  font-family: 'Open Sans', sans-serif;
}

#chart {
  background: #57224c;
  color: #b77ec2;
  max-width: 1500px;
  height: 600px;

  margin-left: 60px;
  margin-top: 40px;
  z-index: -1;
}

.info-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

.heading {
  font-size: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  margin-top: 10px;
}

.description {
  color: white;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
}

.description > p {
  margin-top: 10px;
}

.about-links {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.about-links > a {
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
  text-decoration: none;
  margin-top: 10px;
}

#about-icon {
  display: flex;
  font-size: 30px;
  margin-right: 20px;
}

.about-links > a > p {
  margin-top: 0px;
}

.choices-item {
  color: white;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 20px;
  top: 100px;
  z-index: 10
}

.graph-container {
  position: relative;
  width: 1450px;
  height: 650px;
  margin-left: 60px;
}

.choices-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.choose-stock {
  color: white;
  font-size: 20px;
}

#select-stock {
  font-size: 20px;
}

.item > input{
  height: 20px;
  width: 20px;
}

svg {
  margin-left: 10px;
  margin-right: auto;

}

.item {
  font-size: 18px;
}

