.line-path {
    fill: none;
    stroke: steelblue;
    stroke-width: 7;
    stroke-linejoin: round;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 150px;
    height: 125px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}   

text {
    font-family: sans-serif;
}
.tick text {
    font-size: 2.7em;
    fill: #635F5D;
}
.tick line {
    stroke: #C0C0BB;
}
.axis-label {
    font-size: 5em;
    fill: #8E8883;
}
.title {
    font-size: 3.7em;
    fill: #635F5D;
}
